# Ames Housing Step-by-step - Exercises 1, 2, and 3

Pieter Overdevest  
2024-02-09

For suggestions/questions regarding this notebook, please contact
[Pieter Overdevest](https://www.linkedin.com/in/pieteroverdevest/)
(pieter@innovatewithdata.nl).

### How to work with this Jupyter Notebook yourself?

- Get a copy of the repository ('repo') [machine-learning-with-python-explainers](https://github.com/EAISI/machine-learning-with-python-explainers) from EAISI's GitHub site. This can be done by either cloning the repo or simply downloading the zip-file. Both options are explained in this Youtube video by [Coderama](https://www.youtube.com/watch?v=EhxPBMQFCaI).

- Copy the folder 'ames-housing-pieter\\' located in the folder 'example-solutions\\' to your own project folder.


### Introduction

This case is inspired by Kaggle’s [Getting Started Prediction Competition](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview). The information you need in order to work on this case can be found in the repo
[‘discover-projects/ames-housing’](https://github.com/EAISI/discover-projects/tree/main/ames-housing) on EAISI's GitHub site.
The questions - and therefore this notebook - are structured according to the CRISP-DM framework.

When referring to,

-   'Python Explainer', see the folder 'python-explainers\\'

-   'ML Explainer', see the folder 'ml-explainers\\'

in the repo you just copied.


### Import packages
A package is simply a folder containing modules and a '\_\_init\_\_.py' file, also referred to as a 'dunder init' file ('dunder' referring to *d*ouble *under*scores). A module is just a Python file (*.py) holding functions and variables. The dunder init file is what makes the folder callable as a package. You can include Python code in the dunder init file that will be run when the package is imported. We can import complete packages or only specific functions from a package. In the first case we start with 'import' and in the second case we start with 'from'.

As part of a solution to an exercise, we may need to import specific third party package. These packages will be imported with the solutions. Of some packages we tend to use many functions. In those cases, we simply load the whole package. Typically, we do this under an alias to make it simpler to refer to a function in the concerned package.

In [1]:
# Third party packages.
import pandas as pd     # Data handling
import numpy as np      # Numeric calculations
import pickle           # Save and load data

Over time, I have developed a package containing a number of generally applicable functions. I have named this package 'utils_pieter'. I have included this package in the folder you just copied. If you place the 'utils_pieter/' folder in the same project folder where you copied this Jupyter Notebook 'ames-housing-pieter-exercise-1-2-3.ipynb' to, you can import the package by simply stating "import utils_pieter as up". This means we can simply refer to "up" in case we want to use a function in this package.

In case you want to use functions without having to refer to the package each time, you can import it from the package specifically. Here, we import the `info()` function, as example, and because we use it multiple times.

In [2]:
# Pieter's utils package.
import utils_pieter as up

from utils_pieter import f_info

Done!

It is good practice to version your packages. This allows you to manage versions and makes it possible to communicate with your collaborators and users. To retrieve the version number of a package, you can use the '__version__' attribute, e.g.,

In [3]:
print(f"Version of utils_pieter package: {up.__version__}")

Version of utils_pieter package: 1.0.0

### Notebook settings

In [4]:
# Setting Pandas options.
pd.set_option("display.max_rows", 50) # How to display all rows from data frame using pandas. Setting value to None to show all rows.
pd.set_option("display.max_columns", None)
pd.set_option("display.max_info_columns", 100)
pd.set_option("display.max_info_rows", 1000000)
pd.set_option("display.precision", 2)
#pd.set_option("styler.format.precision", 2)

## Let's get started

### Business Understanding

**Business context**: Real estate agency 'Homely Homes' incorporated in Ames, Iowa (USA), needs a good first impression of the sale price of a house as soon as it comes on the market, without having to visit the house. Today, 'Homely Homes' uses their team of real estate agents of different levels of expertise to get an estimate based on the information that is available online. The quality of the estimates differs highly depending on who is asked. And, not surprisingly, the experienced agents are not always readily available. So, the management team of Homely Homes has decided to go full on data, and is requesting you to develop a model that can predict the sale price by the push of a button.

**Business objective**: To become independent on real estate agents to estimate sale prices.

**Scope**: All homes in the city of Ames, IA (USA).

**Project goal**: Develop a model that predicts sale price of a house given a set of it's variables,

- The performance metric for your prediction model is the Root Mean Squared Logarithmic Error (RMSLE), i.e., the root mean squared error between the logarithm of the predicted value and the logarithm of the observed sale price. Taking the logarithm means that errors in predicting very expensive houses and cheaper houses will affect the result equally.

- Looking at the [public leaderboard](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/leaderboard), the top 2% have an RMSLE of 0.00044, whilst 25th-percentile and the median performance is at 0.125 and 0.14, respectively.

- As an extra challenge, you can try to trade-off the number of predictors (less is better) vs. performance. Can you make the top 10% (RMSLE 0.123) with the least number of predictors?

## Exercise 1 - Load the 'Ames Housing' dataset

### Data Understanding

There is more than one way to load the 'Ames Housing' dataset. The first two options below load the data directly from a Github repo. The third option can be used in case the data is stored locally.

**1 - Read the data straight from GitHub (A)**

a. Go to the repo [‘discover-projects/ames-housing’](https://github.com/EAISI/discover-projects/tree/main/ames-housing) on EAISI's GitHub site;

b. Click on the 'AmesHousing.csv' file;

c. Click on the **Raw** button;

d. Copy the URL in the URL bar;

e. Paste the URL in the Pandas function `read_csv()`, see below.

In [5]:
df_orig1 = pd.read_csv(
    
    "https://raw.githubusercontent.com/EAISI/discover-projects/main/ames-housing/AmesHousing.csv"
)

**2 - Read the data straight from GitHub (B)**

a. Go to the repo [‘discover-projects/ames-housing’](https://github.com/EAISI/discover-projects/tree/main/ames-housing) on EAISI's GitHub site;

b. Right click (Win) of control click (Mac OSX) on the 'AmesHousing.csv' file;

c. Select 'Copy link';

d. Paste the URL in the Pandas function `read_csv()`;

e. Append '?raw=True' to the URL, see below.

In [6]:
# df_orig2 = pd.read_csv(  

#     "https://github.com/EAISI/discover-projects/blob/main/ames-housing/AmesHousing.csv?raw=True",

#     # Just to demonstrate another variable of the `read_csv()` function. In case you want to enforce a
#     # certain data type on a particular column, you can assign a dictionary to the `dtype` argument.
#     # Though, down below we set the types in a different manner.
#     dtype = {
#         'Neighborhood':'category'        
#     }
# )

**3 - Read the data from a local file**

The same Pandas function `read_csv()` can be used to read a CSV from your local computer. Note, `f"some text {variable} text continues."` is called an f-string, and allows you to insert variables inside a string. In case you are not familiar with f-strings, see "[Python's F-String for String Interpolation and Formatting](https://realpython.com/python-f-strings/)" on realpython.com.

In [7]:
# # Load local data.
# df_orig3 = pd.read_csv(
    
#     f"/Users/{up.f_get_account_name()}/Innovate with Data Dropbox/Innovate With Data/Partners/"
#     'PE/2024 02 - EAISI - Discover Projects/ames-housing/AmesHousing.csv'
# )

Since we will make modifications to the data, it is good practice to make a copy, so we can always look back and compare what was in the original data.

In [8]:
df_orig = df_orig1.copy()

## Exercise 2 - Descriptive statistics

### Data Understanding (continued)

We explore the data as received:

#### a. Which variables are numerical? And which are categorical? How many variables do we have of both types?

In [9]:
df_orig_num    = df_orig.select_dtypes(include='number')
l_df_num_names = df_orig_num.columns.tolist()

print(l_df_num_names)
print(f"\nNumber of numerical variables: {len(l_df_num_names)}")

['Order', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Yr Blt', 'Garage Cars', 'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold', 'SalePrice']

Number of numerical variables: 39

Note, "\n" is a special character that invokes a newline.

The `object` type refers to a string type in Pandas (str), so we can perform string operations instead of mathematical ones. You might say, shouldn't we use "include='category'"? Try it out, and observe the result. Although, from a data science perspective, text is considered to be of the categorical type, i.e., categorical or factor variables. Python reserves the term "category" type for a special type of string folumn, where all unique values in the str column are stored in a separate table and each value in the str column is stored as an integer. This saves memory and speeds up the processing, see also "Extra - Optimize memory usage" below.

Since this is a technicality in Python, we will still refer to 'categorical variables'.

In [10]:
df_orig_cat    = df_orig.select_dtypes(include='object')
l_df_cat_names = list(df_orig_cat.columns)

print(l_df_cat_names)
print(f"\nNumber of categorical variables: {len(l_df_cat_names)}")

['MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC', 'Central Air', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature', 'Sale Type', 'Sale Condition']

Number of categorical variables: 43

Always good to do your book keeping and check your assumptions. Do we have all columns in either df_orig_num and df_orig_cat? Yes!

In [11]:
print(
    f"Number of columns in the original data:                    "
    f"{df_orig.shape[1]}"
)

print(
    f"Number of columns in df_orig_num and df_orig_cat combined: "
    f"{df_orig_num.shape[1]+df_orig_cat.shape[1]}"
)

Number of columns in the original data:                    82
Number of columns in df_orig_num and df_orig_cat combined: 82

#### b. How many missing values do each of the variables have (variable completeness) and what are the variable types? Is `SalePrice` complete? (hint: use `info()`)

The `info()` method shows the variable names and some high level information on each. We observe different data types for integers and floats, i.e., different 'suitcase sizes'. What are the dtypes of each variable? What do we learn from 'Non-Null Count'?

Yes, `SalePrice` is complete. The data frame has 2930 rows ('entries') and there are 2930 'Non-null' values present in the column.

In [12]:
#df_orig_num.info()

In [13]:
#df_orig_cat.info()

#### c. Create a frequency table counting the number of missing values per variable

As we can see above, using the `info()` method we can get a quick first glance on the variables that have many or no missing values at all. Let's create a simple table listing the variables and their number of missing data, and sort the variables by their 'emptiness' (= 1 - completeness). We conclude that the `Pool QC` variable has missing data in 99.6% of the instances (rows). The outcome variable - as we could have seen with `info()` already - has no missing data, as it is not present in the table below.

In [14]:
# Pandas Series with type of each variable (variable, column) in df_orig.
ps_missing_type    = df_orig.dtypes

# Number of missing data per variable.
ps_missing_total   = df_orig.isnull().sum()

# Percentage of missing per variable.
ps_missing_percent = round(100 * ps_missing_total / df_orig.shape[0], 1)

In [15]:
# Create table (Pandas DataFrame).
df_missing_data = pd.DataFrame({

    'data_type':   ps_missing_type,
    'empty_total': ps_missing_total,
    'empty_perc':  ps_missing_percent
})

# Sort table by number of missing data in descending order.
df_missing_data.sort_values(
    by        = 'empty_total',
    ascending = False,
    inplace   = True
)

# Remove variables that have no missing values.
df_missing_data = df_missing_data.query("empty_total > 0")

# Show table.
print(
    f"Number of variables having missing data: "
    f"{df_missing_data.shape[0]} (out of {df_orig.shape[1]})"
)

df_missing_data

Number of variables having missing data: 27 (out of 82)

               data_type  empty_total  empty_perc
Pool QC           object         2917        99.6
Misc Feature      object         2824        96.4
Alley             object         2732        93.2
Fence             object         2358        80.5
Mas Vnr Type      object         1775        60.6
Fireplace Qu      object         1422        48.5
Lot Frontage     float64          490        16.7
Garage Cond       object          159         5.4
Garage Finish     object          159         5.4
Garage Yr Blt    float64          159         5.4
Garage Qual       object          159         5.4
Garage Type       object          157         5.4
Bsmt Exposure     object           83         2.8
BsmtFin Type 2    object           81         2.8
Bsmt Qual         object           80         2.7
Bsmt Cond         object           80         2.7
BsmtFin Type 1    object           80         2.7
Mas Vnr Area     float64           23         0.8
Bsmt Full Bath   float64            2         0.1
Bsmt Half Bath   float64            2         0.1
BsmtFin SF 1     float64            1         0.0
Garage Cars      float64            1         0.0
Electrical        object            1         0.0
Total Bsmt SF    float64            1         0.0
Bsmt Unf SF      float64            1         0.0
BsmtFin SF 2     float64            1         0.0
Garage Area      float64            1         0.0

#### d. Conduct descriptive/summary statistics for numerical variables (e.g., mean, median, std, range) and for categorical variables (e.g., number of unique values, mode, and their frequency)

The `describe()` function outputs some descriptive statistics. For numerical data these stats include: count of non-null values, mean, standard deviation, range (i.e., min and max), the lower quartile, the median, and the upper quartile. Note, `df_orig.describe(include='number')` gives the same output. What can we conclude for the 'SalePrice' variable (min, max, median vs average)?

In [16]:
df_orig_num.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Fireplaces,Garage Yr Blt,Garage Cars,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00,2.93e+03,2930.00,2440.00,2930.00,2930.00,2930.00,2930.00,2930.00,2907.00,2929.00,2929.00,2929.00,2929.00,2930.00,2930.00,2930.00,2930.00,2928.00,2928.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2771.00,2929.00,2929.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00
mean,1465.50,7.14e+08,57.39,69.22,10147.92,6.09,5.56,1971.36,1984.27,101.90,442.63,49.72,559.26,1051.61,1159.56,335.46,4.68,1499.69,0.43,0.06,1.57,0.38,2.85,1.04,6.44,0.60,1978.13,1.77,472.82,93.75,47.53,23.01,2.59,16.00,2.24,50.64,6.22,2007.79,180796.06
std,845.96,1.89e+08,42.64,23.37,7880.02,1.41,1.11,30.25,20.86,179.11,455.59,169.17,439.49,440.62,391.89,428.40,46.31,505.51,0.52,0.25,0.55,0.50,0.83,0.21,1.57,0.65,25.53,0.76,215.05,126.36,67.48,64.14,25.14,56.09,35.60,566.34,2.71,1.32,79886.69
min,1.00,5.26e+08,20.00,21.00,1300.00,1.00,1.00,1872.00,1950.00,0.00,0.00,0.00,0.00,0.00,334.00,0.00,0.00,334.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,0.00,1895.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,2006.00,12789.00
25%,733.25,5.28e+08,20.00,58.00,7440.25,5.00,5.00,1954.00,1965.00,0.00,0.00,0.00,219.00,793.00,876.25,0.00,0.00,1126.00,0.00,0.00,1.00,0.00,2.00,1.00,5.00,0.00,1960.00,1.00,320.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.00,2007.00,129500.00
50%,1465.50,5.35e+08,50.00,68.00,9436.50,6.00,5.00,1973.00,1993.00,0.00,370.00,0.00,466.00,990.00,1084.00,0.00,0.00,1442.00,0.00,0.00,2.00,0.00,3.00,1.00,6.00,1.00,1979.00,2.00,480.00,0.00,27.00,0.00,0.00,0.00,0.00,0.00,6.00,2008.00,160000.00
75%,2197.75,9.07e+08,70.00,80.00,11555.25,7.00,6.00,2001.00,2004.00,164.00,734.00,0.00,802.00,1302.00,1384.00,703.75,0.00,1742.75,1.00,0.00,2.00,1.00,3.00,1.00,7.00,1.00,2002.00,2.00,576.00,168.00,70.00,0.00,0.00,0.00,0.00,0.00,8.00,2009.00,213500.00
max,2930.00,1.01e+09,190.00,313.00,215245.00,10.00,9.00,2010.00,2010.00,1600.00,5644.00,1526.00,2336.00,6110.00,5095.00,2065.00,1064.00,5642.00,3.00,2.00,4.00,2.00,8.00,3.00,15.00,4.00,2207.00,5.00,1488.00,1424.00,742.00,1012.00,508.00,576.00,800.00,17000.00,12.00,2010.00,755000.00

Other descriptive statistics exist for object data. These include: count of non-null values, number of unique values, value with highest frequency, and the frequency at which said value is present. E.g., what can we conclude for the 'Street' variable?

In [17]:
df_orig_cat.describe()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin Type 2,Heating,Heating QC,Central Air,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
count,2930,2930,198,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,1155,2930,2930,2930,2850,2850,2847,2850,2849,2930,2930,2930,2929,2930,2930,1508,2773,2771,2771,2771,2930,13,572,106,2930,2930
unique,7,2,2,4,4,3,5,3,28,9,8,5,8,6,8,16,17,4,4,5,6,5,5,4,6,6,6,5,2,5,5,8,5,6,3,5,5,3,4,4,5,10,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,BrkFace,TA,TA,PConc,TA,TA,No,GLQ,Unf,GasA,Ex,Y,SBrkr,TA,Typ,Gd,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
freq,2273,2918,120,1859,2633,2927,2140,2789,443,2522,2900,2425,1481,2321,2887,1026,1015,880,1799,2549,1310,1283,2616,1906,859,2499,2885,1495,2734,2682,1494,2728,744,1731,1231,2615,2665,2652,4,330,95,2536,2413

#### e. Extra - An alternative solution to descriptive statistics using `f_describe()`

When you explore data in data frames, you will develop your own scripts based on your preferences. In case you apply the same script in more than two places, I advise you to consider placing that script in a function. This allows you to apply that script by simply referencing to the name you gave to the function, see also Python Explainer `Functions`.

To pull out a few more descriptive statistics, I developed my own describe function `f_describe()`, which is part of the utils_pieter package. It is a kind of a do-all-in-one function to obtain descriptive statistics on all variables in the data, numeric and categoric.

Note, it is not mandatory to use keyword arguments. The script `f_describe(df, 10)` results in the same output as `f_describe(df_input = df, n_top = 3)`, since the values are provided in the same order as the keyword argument pairs. For functions with multiple arguments, I recommend you to use keyword arguments to prevent the risk of assigning values to the wrong argument.

In [18]:
up.f_describe(df_input = df_orig, n_top = 3)

The data:

-> Name:            'df_orig'

-> Dimension:        2930 rows and 82 columns.

-> Size:             7.8 MB.

-> Integer columns:  1st Flr SF, 2nd Flr SF, 3Ssn Porch, Bedroom AbvGr, Enclosed Porch, Fireplaces, Full Bath, Gr Liv Area, Half Bath, Kitchen AbvGr, Lot Area, Low Qual Fin SF, MS SubClass, Misc Val, Mo Sold, Open Porch SF, Order, Overall Cond, Overall Qual, PID, Pool Area, SalePrice, Screen Porch, TotRms AbvGrd, Wood Deck SF, Year Built, Year Remod/Add, Yr Sold.

-> Float columns:    Bsmt Full Bath, Bsmt Half Bath, Bsmt Unf SF, BsmtFin SF 1, BsmtFin SF 2, Garage Area, Garage Cars, Garage Yr Blt, Lot Frontage, Mas Vnr Area, Total Bsmt SF.

-> String columns:   Alley, Bldg Type, Bsmt Cond, Bsmt Exposure, Bsmt Qual, BsmtFin Type 1, BsmtFin Type 2, Central Air, Condition 1, Condition 2, Electrical, Exter Cond, Exter Qual, Exterior 1st, Exterior 2nd, Fence, Fireplace Qu, Foundation, Functional, Garage Cond, Garage Finish, Garage Qual, Garage Type, Heating, Heating QC, House Style, Kitchen Qual, Land Contour, Land Slope, Lot Config, Lot Shape, MS Zoning, Mas Vnr Type, Misc Feature, Neighborhood, Paved Drive, Pool QC, Roof Matl, Roof Style, Sale Condition, Sale Type, Street, Utilities.


Show data (first 3 rows, this number can be altered through 'n_top' in the function call):

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,5,1960,1960,Hip,CompShg,BrkFace,Plywood,Stone,112.0,TA,TA,CBlock,TA,Gd,Gd,BLQ,639.0,Unf,0.0,441.0,1080.0,GasA,Fa,Y,SBrkr,1656,0,0,1656,1.0,0.0,1,0,3,1,TA,7,Typ,2,Gd,Attchd,1960.0,Fin,2.0,528.0,TA,TA,P,210,62,0,0,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,NaN,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000

Describe integer data (28 columns):

,Order,PID,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Fireplaces,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00,2.93e+03,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00,2930.00
mean,1465.50,7.14e+08,57.39,10147.92,6.09,5.56,1971.36,1984.27,1159.56,335.46,4.68,1499.69,1.57,0.38,2.85,1.04,6.44,0.60,93.75,47.53,23.01,2.59,16.00,2.24,50.64,6.22,2007.79,180796.06
std,845.96,1.89e+08,42.64,7880.02,1.41,1.11,30.25,20.86,391.89,428.40,46.31,505.51,0.55,0.50,0.83,0.21,1.57,0.65,126.36,67.48,64.14,25.14,56.09,35.60,566.34,2.71,1.32,79886.69
min,1.00,5.26e+08,20.00,1300.00,1.00,1.00,1872.00,1950.00,334.00,0.00,0.00,334.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,2006.00,12789.00
25%,733.25,5.28e+08,20.00,7440.25,5.00,5.00,1954.00,1965.00,876.25,0.00,0.00,1126.00,1.00,0.00,2.00,1.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.00,2007.00,129500.00
50%,1465.50,5.35e+08,50.00,9436.50,6.00,5.00,1973.00,1993.00,1084.00,0.00,0.00,1442.00,2.00,0.00,3.00,1.00,6.00,1.00,0.00,27.00,0.00,0.00,0.00,0.00,0.00,6.00,2008.00,160000.00
75%,2197.75,9.07e+08,70.00,11555.25,7.00,6.00,2001.00,2004.00,1384.00,703.75,0.00,1742.75,2.00,1.00,3.00,1.00,7.00,1.00,168.00,70.00,0.00,0.00,0.00,0.00,0.00,8.00,2009.00,213500.00
max,2930.00,1.01e+09,190.00,215245.00,10.00,9.00,2010.00,2010.00,5095.00,2065.00,1064.00,5642.00,4.00,2.00,8.00,3.00,15.00,4.00,1424.00,742.00,1012.00,508.00,576.00,800.00,17000.00,12.00,2010.00,755000.00

Describe floating data (11 columns):

,Lot Frontage,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath,Garage Yr Blt,Garage Cars,Garage Area
count,2440.00,2907.00,2929.00,2929.00,2929.00,2929.00,2928.00,2928.00,2771.00,2929.00,2929.00
mean,69.22,101.90,442.63,49.72,559.26,1051.61,0.43,0.06,1978.13,1.77,472.82
std,23.37,179.11,455.59,169.17,439.49,440.62,0.52,0.25,25.53,0.76,215.05
min,21.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1895.00,0.00,0.00
25%,58.00,0.00,0.00,0.00,219.00,793.00,0.00,0.00,1960.00,1.00,320.00
50%,68.00,0.00,370.00,0.00,466.00,990.00,0.00,0.00,1979.00,2.00,480.00
75%,80.00,164.00,734.00,0.00,802.00,1302.00,1.00,0.00,2002.00,2.00,576.00
max,313.00,1600.00,5644.00,1526.00,2336.00,6110.00,3.00,2.00,2207.00,5.00,1488.00

Describe string data (43 columns):

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin Type 2,Heating,Heating QC,Central Air,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
count,2930,2930,198,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,2930,1155,2930,2930,2930,2850,2850,2847,2850,2849,2930,2930,2930,2929,2930,2930,1508,2773,2771,2771,2771,2930,13,572,106,2930,2930
unique,7,2,2,4,4,3,5,3,28,9,8,5,8,6,8,16,17,4,4,5,6,5,5,4,6,6,6,5,2,5,5,8,5,6,3,5,5,3,4,4,5,10,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,BrkFace,TA,TA,PConc,TA,TA,No,GLQ,Unf,GasA,Ex,Y,SBrkr,TA,Typ,Gd,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
freq,2273,2918,120,1859,2633,2927,2140,2789,443,2522,2900,2425,1481,2321,2887,1026,1015,880,1799,2549,1310,1283,2616,1906,859,2499,2885,1495,2734,2682,1494,2728,744,1731,1231,2615,2665,2652,4,330,95,2536,2413

Show missing data:

                   type  total  percent
Pool QC          object   2917     99.6
Misc Feature     object   2824     96.4
Alley            object   2732     93.2
Fence            object   2358     80.5
Mas Vnr Type     object   1775     60.6
Fireplace Qu     object   1422     48.5
Lot Frontage    float64    490     16.7
Garage Cond      object    159      5.4
Garage Finish    object    159      5.4
Garage Yr Blt   float64    159      5.4
Garage Qual      object    159      5.4
Garage Type      object    157      5.4
Bsmt Exposure    object     83      2.8
BsmtFin Type 2   object     81      2.8
Bsmt Qual        object     80      2.7
Bsmt Cond        object     80      2.7
BsmtFin Type 1   object     80      2.7
Mas Vnr Area    float64     23      0.8
Bsmt Full Bath  float64      2      0.1
Bsmt Half Bath  float64      2      0.1
BsmtFin SF 1    float64      1      0.0
Garage Cars     float64      1      0.0
Electrical       object      1      0.0
Total Bsmt SF   float64      1      0.0
Bsmt Unf SF     float64      1      0.0
BsmtFin SF 2    float64      1      0.0
Garage Area     float64      1      0.0

The `describe()` method only provides the mode, i.e., the value in a categorical variable present at the highest frequency. Suppose we want to investigate the frequency of the values for any variable. For that I developed the function `f_info()`. By default, the top-10 items are shown. In case the variable has more than ten items - e.g., `Neighborhood` - you can add input parameter 'n_top' and assign an appropriate number. Enter 'None' in case you want to see all values.

In [19]:
f_info(df_orig.Neighborhood)
#f_info(df_orig.Neighborhood, n_top=None, b_show_plot=True)
#f_info(df_orig['Pool QC'])

                                    n  perc
  ============================  ===== =====
               Total elements:  2,930
              Unique elements:     28

  Top-10 (type: 'str')              n  perc
  ============================  =====  =====
                         NAmes    443  15.1%
                       CollgCr    267   9.1%
                       OldTown    239   8.2%
                       Edwards    194   6.6%
                       Somerst    182   6.2%
                       NridgHt    166   5.7%
                       Gilbert    165   5.6%
                        Sawyer    151   5.2%
                        NWAmes    131   4.5%
                       SawyerW    125   4.3%
                           ...    ...    ...
  ----------------------------  -----  -----
                         TOTAL  2,930   100%

## Exercise 3 - Impute missing data

Ideally, we would move the imputation exercise till after the train/test split. What is the problem of imputing the data before the train/test split?

### Data Preparation

The `info()` method and the `f_info()` function in the previous exercise informed us that there are several missing values in the dataset. These need to be tackled before we can proceed with the remainder of the analysis, in particular before calculating correlations and applying machine learning models. There are many ways to impute missing values. Here, we impute missing values as follows:

a. Impute the numerical variables with the median value of the available data

b1. Impute the categorical variables with the label "other"

b2. Alternatively, impute the categorical variables with the mode (most frequent value) of the available data


a. Impute the numerical variables with the median value of the available data

b1. Impute the categorical variables with the label "other"

b2. Alternatively, impute the categorical variables with the mode (most frequent value) of the available data

c. Concatenate the numerical and the categorical data into a single data frame

#### a. Impute the numerical variables with the median value of the available data

We replace NA's in numerical variables with the median value in each variable, resp. As expected, we observe that the median values of the updated columns have not changed compared to the original data. Besides, we confirm there are no empty cells.

In [20]:
df_imputed_num = df_orig_num.replace(np.nan, df_orig_num.median())

print("Median values in original numerical data (first five variables):")
print(df_orig_num.median().head(5))

print("\nMedian values in imputed numerical data (first five variables):")
print(df_imputed_num.median().head(5))


print(
    f"\nNumber of missing data in imputed data: "
    f"{df_imputed_num.isna().sum().sum()}"
)

Median values in original numerical data (first five variables):
Order           1.47e+03
PID             5.35e+08
MS SubClass     5.00e+01
Lot Frontage    6.80e+01
Lot Area        9.44e+03
dtype: float64

Median values in imputed numerical data (first five variables):
Order           1.47e+03
PID             5.35e+08
MS SubClass     5.00e+01
Lot Frontage    6.80e+01
Lot Area        9.44e+03
dtype: float64

Number of missing data in imputed data: 0

#### b1. Impute the categorical variables with the label "other"

Now, we will replace NA's in the columns with categorical data. Besides `replace()` [(ref)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html), we can also make use of `fillna()` [(ref)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html) to replace NA's by an alternative value.

It is good practice to define a variable in case you use that variable in more than one place and/or in case you expect to change the value of the variable at later stage. This way you can define the variable, e.g., at the top of your script so it can be changed in one location.

In [21]:
c_replace_by = "other"

In [22]:
# Replace using replace():
df_imputed_cat = df_orig_cat.replace(np.nan, c_replace_by)

# Replace using fillna():
df_imputed_cat_alt = df_orig_cat.fillna(c_replace_by)

And, as expected there are no empty cells in either of the two data frames.

In [23]:
print(
    df_imputed_cat.isna().sum().sum(),
    df_imputed_cat_alt.isna().sum().sum()
)

0 0

Let's verify the replacement for a given categorical variable (`c_col`).

In [24]:
# Define variable name to verify the imputations we made.
c_col = 'Pool QC'

# How many empty cells and 'c_replace_by' exist in the original data?
print(
    "Number of missing values in the original data:\n"
    f"Empty:   {sum(df_orig_cat[c_col].isna())}\n"
    f"'{c_replace_by}': {df_orig_cat[c_col].tolist().count(c_replace_by)}\n"
)

# How many empty cells and 'c_replace_by' exist in the imputed data - using '.replace'?
print(
    "Number of missing values in the data imputed using 'replace()':\n"
    f"Empty:   {sum(df_imputed_cat[c_col].isna())}\n"
    f"'{c_replace_by}': {df_imputed_cat[c_col].tolist().count(c_replace_by)}\n"
)

# # How many NA and 'c_replace_by' exist in the updated data - using '.fillna':
print(
    "Number of missing values in the data imputed using 'fillna()':\n"
    f"Empty:   {sum(df_imputed_cat_alt[c_col].isna())}\n"
    f"'{c_replace_by}': {df_imputed_cat_alt[c_col].tolist().count(c_replace_by)}\n"
)

Number of missing values in the original data:
Empty:   2917
'other': 0

Number of missing values in the data imputed using 'replace()':
Empty:   0
'other': 2917

Number of missing values in the data imputed using 'fillna()':
Empty:   0
'other': 2917

#### b2. Alternatively, impute the categorical variables with the mode (most frequent value) of the available data

Suppose we want to replace NA's by the most frequently occurring value in each variable. How would we go about this? See also Python Explainer `Mode`.

Let's work towards to answer.. To get the mode of each column in a Pandas Data frame, we simply use the `mode()` method.

In [25]:
df_orig_cat.mode()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin Type 2,Heating,Heating QC,Central Air,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,BrkFace,TA,TA,PConc,TA,TA,No,GLQ,Unf,GasA,Ex,Y,SBrkr,TA,Typ,Gd,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gd,NaN,NaN,NaN,NaN

Why does the data frame have two rows? Tip, investigate the 'Pool QC' variable.

In [26]:
f_info(df_orig_cat['Pool QC'])

                                    n  perc
  ============================  =====  =====
               Total elements:  2,930
              Unique elements:      5
                    pd.isna():  2,917  99.6%

  All items: (type: 'str')          n  perc
  ============================  =====  =====
                            NA   2917  99.6%
                            Ex      4   0.1%
                            Gd      4   0.1%
                            TA      3   0.1%
                            Fa      2   0.1%
  ----------------------------  -----  -----
                         TOTAL  2,930   100%

Let's continue.. We take the first row.

In [27]:
#df_orig_cat.mode().iloc[0]

Now, we put it all together and assign the result to a new object `df_cat_imputed_mode`.

In [28]:
df_cat_imputed_mode = df_orig_cat.fillna(df_orig_cat.mode().iloc[0])

Let's check the result..

In [29]:
f_info(df_orig_cat['Alley'])

                                    n  perc
  ============================  =====  =====
               Total elements:  2,930
              Unique elements:      3
                    pd.isna():  2,732  93.2%

  All items: (type: 'str')          n  perc
  ============================  =====  =====
                            NA   2732  93.2%
                          Grvl    120   4.1%
                          Pave     78   2.7%
  ----------------------------  -----  -----
                         TOTAL  2,930   100%

In [30]:
f_info(df_cat_imputed_mode['Alley'])

                                    n  perc
  ============================  ===== =====
               Total elements:  2,930
              Unique elements:      2

  All items: (type: 'str')          n  perc
  ============================  =====  =====
                          Grvl   2852  97.3%
                          Pave     78   2.7%
  ----------------------------  -----  -----
                         TOTAL  2,930   100%

Alternatively, you can use Python's build-in method `describe()`.

In [31]:
df_orig_cat['Alley'].describe()

count      198
unique       2
top       Grvl
freq       120
Name: Alley, dtype: object

In [32]:
df_cat_imputed_mode['Alley'].describe()

count     2930
unique       2
top       Grvl
freq      2852
Name: Alley, dtype: object

And check that the numbers match..

In [33]:
(2930-198)+120

2852

#### c. Concatenate the numerical and the categorical data into a single data frame

Next, we [concatenate](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) the two imputed data frames to create one new data frame without empty cells. What is the role of 'axis=1'?

In [34]:
df_imputed = pd.concat([df_cat_imputed_mode, df_imputed_num], axis=1)

Let's confirm the original and updated data frames have the same shape.

In [35]:
print(df_imputed.shape, df_orig.shape)

(2930, 82) (2930, 82)

#### d. Reduce memory usage by converting string type data to category type and downcast numerical data to their smallest container size. Tip: see Pandas' [astype() method](https://pandas.pydata.org/docs/user_guide/categorical.html) and [to_numeric() method](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html).

The memory taken by the original data frame is obtained by adding `memory_usage="deep"` to the `info()` method.

In [36]:
#df_imputed.info(memory_usage="deep")

Before making any changes, we make a copy of df_imputed, so, we can investigate the effect of memory optimization.

In [37]:
df_reduced = df_imputed.copy()

We convert the categorical columns to `category` type columns using the [`astype()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) method.

In [38]:
len(l_df_cat_names)

43

In [39]:
df_reduced[l_df_cat_names] = df_reduced[l_df_cat_names].astype('category')

The `integer` and `float` variables are converted to their smallest possible *unsigned* versions by using [`pd.to_numeric(arg, downcast=...)`](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html#pandas.to_numeric).

The `zip()` function allows for a pythonic solution, where alternatively you would iterate through a list of indices and use each index to select values from two or more lists.

In [40]:
for old, new in zip(['integer', 'float'], ['unsigned', 'float']):

    for col in df_reduced.select_dtypes(include=old).columns:
        
        df_reduced[col] = pd.to_numeric(df_reduced[col], downcast=new)

Let's see what this brings in terms of the size of the data frame.

In [41]:
#df_reduced.info(memory_usage="deep")

How much did we reduce the memory need? See also ["How To Get The Memory Usage of Pandas Dataframe?"](https://cmdlinetips.com/2020/03/memory-usage-of-pandas-dataframe/).

In [42]:
par1 = df_orig.memory_usage(deep=True).sum()/1024/1024
par2 = df_imputed.memory_usage(deep=True).sum()/1024/1024
par3 = df_reduced.memory_usage(deep=True).sum()/1024/1024

print(f"Size of original data frame              : {round(par1, 1)} MB.")
print(f"Size of imputed data frame               : {round(par2, 1)} MB.")
print(f"Size of imputed and downcasted data frame: {round(par3, 2)} MB.")
print(f"Reduced original data frame by factor of : {round(par1/par3)}")

Size of original data frame              : 7.8 MB.
Size of imputed data frame               : 8.2 MB.
Size of imputed and downcasted data frame: 0.41 MB.
Reduced original data frame by factor of : 19

In [43]:
par1 = df_orig['Neighborhood'].memory_usage(deep=True)/1024/1024
par2 = df_imputed['Neighborhood'].memory_usage(deep=True)/1024/1024
par3 = df_reduced['Neighborhood'].memory_usage(deep=True)/1024/1024

print(f"Size of original Pandas series              : {round(par1, 2)} MB.")
print(f"Size of imputed Pandas series               : {round(par2, 2)} MB.")
print(f"Size of imputed and downcasted Pandas series: {round(par3, 3)} MB.")
print(f"Reduced original data frame by factor of    : {round(par1/par3)}")

Size of original Pandas series              : 0.18 MB.
Size of imputed Pandas series               : 0.18 MB.
Size of imputed and downcasted Pandas series: 0.006 MB.
Reduced original data frame by factor of    : 31

 In this case the original dataset has relatively small size (7.8 MB), and we can easily get away with not downcasting the data. If anything gets beyond hundreds of MBs in memory, a factor 20-30 is certainly helpfull!

### Save data to pickle file

We save objects - that we need in subsequent exercises - to a pickle file.

In [44]:
# Create dictionary 'dc_exercise_1_2_3' with objects that will be used in the next exercises.
dc_exercise_1_2_3 = {
    'df_orig':         df_orig,
    'df_reduced':      df_reduced,
    'l_df_num_names':  l_df_num_names,
    'l_df_cat_names':  l_df_cat_names,
}

# Save dc_exercise_1_2_3 as 'dc-ames-housing-pieter-exercise-1-2-3.pkl'
with open('data/dc-ames-housing-pieter-exercise-1-2-3.pkl', 'wb') as pickle_file:
    pickle.dump(dc_exercise_1_2_3, pickle_file)